.hero{
    width: fit-content;
}

.hero-banner {

    width: 100%;
    margin-bottom: 5rem;

    /* height: 700px;
    width: 1440px; */
    /* max-height: 120px;    */

}

.hero-left {
    width: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: center;
}

.hero-right {
    width: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    justify-content: center;

}

h3 {
    color: #6B3CC9;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    
    
}

.hero-btn {
    background-color: #F28D35;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

.hero-description{
    margin-top: 6rem;
    max-width: 55%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.hero-image{
    width: fit-content;
    width: 414px;
    height: 416px;
}

.hero-banner-img{
    height: fit-content;
}