/* Top Navigation */

/* Auto layout */

.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 26px 80px;
gap: 8px;
font-family: "Inter", sans-serif;
font-weight:200;
/* width: fit-content; */



/* position: absolute;
/* width: 1440px; */
/* width: 3450px;
height: 77px;
left: 77px;
top: 215px; */ 

background: #6B3CC9;

}

.nav-logo{
    
    display: flex;
    align-items: center;
    gap: 10px;
    height: 25px;
    
    
}

.nav-menu{

    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: white;
    font-size: 18px;
    font-weight: 200;
    font-variant-caps: all-petite-caps;

}