.footer {
    font-size: 42px;
    color: white;
    display: flex;
    flex-direction: column;

    padding: 40px 80px 20px;



    height: fit-content;

    background: #6B3CC9;
    columns: 3 auto;
    




}

.footer-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    
}

.footer-logo{
    display: flex;
    align-items: start;
    gap: 20px;
    height: 25px;
    width: fit-content;
    /* width: 238.89px; */
    margin-bottom: 1rem;

}

.footer-col p{
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.footer-col {
    padding: 10px;
}


.footer-col h4 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 21px;
    margin-left: 1.5em;
    width: fit-content;
}

.footer-col ul{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    align-items: left;
    justify-content: left;
    width: fit-content;

    
}

.hr {
    color: white;
    height: 5px;
    width: max-content;

}

.footer-bottom {
    
    
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid white;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 80px 20px 80px;
}


.agreement {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.hero-banner img {
    width: 100%;
    Height: 700px;
    /* Top: 77px; */
}

.p{
    font-size: 16px;
    font-weight: 400;
    /* font-family:; */

}

.motto{
    padding: auto;
    margin-top: 2em;
    margin-right: 6rem;
}

.agreement li{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
}